---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
---

<BaseLayout
  title='About | jimmyhealer'
  description='About jimmyhealer'
>
  <div class='stack gap-20'>
    <main class='wrapper about'>
      <Hero
        title='About'
        tagline='Thanks for stopping by. Read below to learn more about myself and my background.'
      >
        <img
          width='1553'
          height='873'
          src='/assets/at-work.jpg'
          alt='jimmyhealer at work with a colleague'
        />
      </Hero>

      <section>
        <h2 class='section-title'>Background</h2>
        <div class='content'>
          <p>
            I am currently a student at National Yang Ming Chiao Tung University, with internship experiences at TSMC and Systex.
            <br />
            During my internships, I built automated testing pipelines, developed backend microservices, and upgraded projects to Spring Boot 3.
            <br />
            I specialize in DevOps processes, automated deployments, and system design, and I am currently exploring AI applications, particularly in the development of Large Language Models (LLMs).
            <br />
            I aim to continue growing in software development and architecture.
          </p>
          <p>
            我是國立陽明交通大學智慧系統研究所的學生，曾在台積電和 Systex 擔任實習生。
            <br />
            在實習中，我建立了自動化測試流程，開發後端微服務，並升級專案至 Spring Boot 3 架構。
            <br />
            我擅長 DevOps 流程、自動化部署以及系統設計，目前也正在探索 AI 應用領域，尤其是大型語言模型（LLM）的發展。未來希望在軟體開發、架構設計以及 AI 技術的結合上持續成長。
          </p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Education</h2>
        <div class='content'>
          <p>
            National Yang Ming Chiao Tung University - Institute of Intelligent Systems
          </p>
          <p>
            National Taiwan Ocean University - Computer Science and Engineering
          </p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Work experience</h2>
        <div class='content'>
          <p>TSMC / DevOps Engineer Intern / 202407 - 202408 </p>
          <p>Systex / Full-Stack Engineer Intern / 202306 - 202406 </p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Programming Language</h2>
        <div class='content'>
          <p>C / C++, Typescript / Javascript, Java, Python, Go, Rust and Dart</p>
        </div>
        <h2 class='section-title'>Frontend Skill</h2>
        <div class='content'>
          <p>Vue, React and Flutter</p>
        </div>
        <h2 class='section-title'>Backend Skill</h2>
        <div class='content'>
          <p>Spring Boot, Gin, Rust Rocket, Django, ExpressJS, Firebase and Google Cloud Platform</p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Resume</h2>
        <div class='content'>
          <a href="https://drive.google.com/file/d/1c3asWBBinNZnNNPBxiOsjANom-DNHCfd/view?usp=share_link" target="_blank">English Resume</a>, 
          <a href="https://drive.google.com/file/d/1hHQYnDL1JkzWXO0tP5kcSI-Z9mBusJFC/view?usp=share_link" target="_blank">中文履歷</a>  
        </div>        
      </section>
    </main>
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
